<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-paddidng">
<div class="profile ion-text-center">
  <img src="../../../assets/images/profile.png" alt="" style="max-width: 180px;">
</div>
<div class="input-fields">

  <ion-item>
    <ion-input name="name" [(ngModel)]="data.name" placeholder="Name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input name="surname" [(ngModel)]="data.surname" placeholder="Surname"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input name="phone" [(ngModel)]="data.phone" placeholder="Phone"></ion-input>
  </ion-item>

  <ion-item>
    <ion-datetime-button datetime="datetime"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime" presentation="date" name="dob" [(ngModel)]="data.dob"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

  <ion-item>
    <ion-input name="school" [(ngModel)]="data.school" placeholder="School"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input name="email" [(ngModel)]="data.email" placeholder="Email" disabled="disabled"></ion-input>
  </ion-item>
</div>
<div class="ion-text-center">
  <ion-button shape="rounded" fill="solid" color="primary" (click)="updateProfile()">Update Profile</ion-button>
</div>
</ion-content>
