<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-paddidng">
<div class="profile ion-text-center">
  <img src="../../../assets/images/profile.png" alt="" style="max-width: 180px;">
</div>
<div class="input-fields">

  <ion-item>
    <ion-input name="name" [(ngModel)]="user.name" placeholder="Name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input name="surname" [(ngModel)]="user.surname" placeholder="Surname"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input name="phone" [(ngModel)]="user.phone" placeholder="Phone"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input name="email" [(ngModel)]="user.email" placeholder="Email" disabled="disabled"></ion-input>
  </ion-item>
</div>
<div class="ion-text-center">
  <ion-button shape="rounded" fill="solid" color="primary">Update Profile</ion-button>
</div>
</ion-content>
