<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="header">
  <div class="quote">

    <div class="ion-text-center" *ngIf="quote">
      {{ quote.description}}
      <br/>
      <i>{{ quote.author }}</i>
    </div>
    
  </div>
</div>
<div class="content">
  <ion-card *ngFor="let item of items">
    <ion-card-header>
      <ion-card-subtitle>{{item.title}}</ion-card-subtitle>
    </ion-card-header>
  
    <div class="ion-text-right" style="margin-right:15px !important;">
      <ion-button size="small" fill="solid" color="primary" (click)="learnMore(item)">Learn More</ion-button>
    </div>
  </ion-card>
</div>

</ion-content>
