<ion-header>
  <ion-toolbar>
    <ion-title>notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chat">

    <div *ngFor="let item of notifications" class="message message-left">
      <div>
        <ion-chip>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="../../../assets/avatar.svg" />
          </ion-avatar>
          <ion-label>SafeSpace</ion-label>
        </ion-chip>
      </div>
      <div class="message-message">
        {{ item.message }}
      </div>
    </div>

  </div>
</ion-content>
