
<ion-content [fullscreen]="true">

  <div class="top-div">
    <div class="ion-text-center" style="margin-bottom:50px;">
      <img src="../../../assets/images/logo.jpg" style="max-width:180px;padding-top: 80px;">
    </div>
  </div>

  <form>

  <div class="bottom-div">

    <div class="p-top">

      <h2 class="ion-text-center">
       Welcome to Safespace<br/>
      </h2>

      <ion-card>
        <ion-card-content>
          <p class="ion-text-center ion-padding">
            Hi, welcome to Safespace, an app with a social mission: to fight online violence against kids.  With the world rapidly digitalising, offensive and hurtful messages, inappropriate content, and predators can be found in everyday online interactions. This results in immense mental and potentially physical harm to recipients. This is why we are here to assist you with dealing with cyberbullying when it happens. We utilise several solutions, including counselling, and a specialised lawyer to review your case. Our application helps you ease your mind when you are on social media or using your phone. The tools that we give you will help you navigate and tackle this digital plague. No one should victimise or bully you online.
          </p>
        </ion-card-content>
      </ion-card>

      <div class="ion-text-center pro-btn">
        <ion-button shape="round" size="medium" fill="solid" color="primary" (click)="gotToHome()">Proceed</ion-button>
      </div>

    </div>

  </div>

</form>
   
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <p style="color:#fff">Safespace v1.0.4</p>
  </ion-toolbar>
</ion-footer>