<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button (click) = "goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Chat Inbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="chat"  *ngIf="loaded">
    <div *ngFor="let item of messages" class="message {{item.sender_id === userId ? 'message-left' : 'message-right'}}">
      <div class="{{item.sender_id === userId ? '' : 'ion-text-right'}}">
        <ion-chip>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="../../../assets/avatar.svg" />
          </ion-avatar>
          <ion-label>{{item.sender_id === userId ? 'Me' : 'Operator'}}</ion-label>
        </ion-chip>
      </div>
      <div class="message-message">
        {{ item.message }}
      </div>
    </div>
  </div>

  <ion-list *ngIf="!loaded">
    <ion-list-header>
      <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
    </ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <ion-item fill="outline">
            <ion-label position="floating">Enter your message</ion-label>
            <ion-textarea [(ngModel)]="message" name="message" placeholder="Enter message"></ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-button shape="rounded" fill="outline" color="primary" (click)="sendMessage()">Send</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
