<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button (click) = "goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>About SafeSpace</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="header">
    <h3>About Us</h3>
    <p class="ion-text-center">
      Safe Space is a mobile application that aims to tackle cyberbullying experienced by teenagers and young adults. Cyberbullying, unlike traditional bullying, is more public and can even result in hundreds even thousands of people contributing to cyberbullying. Bullying can also easily go from the online spaces to the offline world where it can then take the form of physical harm. This often leads to self-harm, low self-esteem and in some tragic cases, suicide by the victims of this new form of cyberbullying. So, we developed an App that allows the user to get sufficient information about online violence and the help they can get. The app will allow the user to get automatic virtual counselling from our specialised child protection officers who will assess the matter and assist the child should they report.
    </p>
    <br/><br/>
    <p class="ion-text-center" style="color: gray;">
      Brought to life by <a href="https://protendai.com">ProTendai</a>. 2023
    </p>
  </div>
  <br/>

</ion-content>
