<ion-content class="ion-padding">
  <h4>Terms and Conditions</h4>
  <p>   
    By using Safespace you agree to be bound by all the terms and conditions as set forth below.  An annual subscription of a minimum of two dollars will be required to access and interact with the application. Cause for suspension or termination of your subscriber account includes, but is not limited to, actions such as intentionally providing inaccurate registration information, attempting to impersonate someone, attempting to register a child of whom you are not a parent or legal guardian, and failure to pay subscription fees. From time to time, Safespace may amend its terms and conditions. Therefore you are encouraged to review these terms and conditions frequently so that you are well informed about how we are protecting your information. 
  </p>

  <h4>Privacy  Policy</h4>
  <p>
    Every child has the right to privacy. Safespace is concerned with protecting the user’s data and is committed to protecting them. Your identity will remain anonymous whilst using this app and no Information shall be passed on to unauthorised 3rd parties.
  </p>

  <ion-grid>
    <ion-row>
      <ion-col><ion-button expand="full" shape="round" size="medium" fill="solid" color="medium" routerLink="/login">Cancel</ion-button></ion-col>
      <ion-col><ion-button expand="full" shape="round" size="medium" fill="solid" color="primary" (click)="hasAccepted()">Accept</ion-button></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
