<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button (click) = "goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Subscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="header">
    <p class="ion-text-center">
      Subscription Payments<br/>
      Please choose your preferred payment method.
    </p>
  </div>


  <div class="body">
    <h4><u>Please Note</u></h4>
  
      For manual payments use the following details and pay a total amount of <b><i>$24</i></b>
      <hr>

      <h5><u>Ecocash USD</u></h5>

      Please use the following merchant code: <b>025980</b>

      <hr/>

      <h5><u>InnBucks USD</u></h5>

      Please send to <br/><b>Rutendo Mugadza 0773238568</b>

      <hr/>
      
  </div>
  <br/>
  <ion-button (click)="presentActionSheet()" fill="outline" expand="block">Select Payment Method</ion-button>
  <br/>
<!-- <ion-card (click)="makeUSDPayment()">
  <div class="label">Card Payments</div>
  <img alt="Image" src="../../../assets/images/visa_mastercard.jpg" />
</ion-card>

<ion-card (click)="makeRTGSPayment()">
  <div class="label">Mobile Money</div>
  <img alt="Image" src="../../../assets/images/mobile_money.jpg" />
</ion-card> -->

</ion-content>
