.header{
    background-color: #A66CFF;
    color:#FFF;
    font-weight: 700;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 30px;

}

.label{
    background-color: #A66CFF;
    color: #FFF;
    font-weight: 500;
    padding:10px;
}